Repository tristan-zander/runback: changes, and which CircleCI parameters are due for each by the changed paths.
All: modified-root-manifest, modified-common, modified-discord-bot, modified-matchmaking-service

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            Config.(toml|lock) modified-root-manifest true
            common/.* modified-common true
            discord-bot/.* modified-discord-bot true
            matchmaking-service/.* modified-matchmaking-service true
          config-path: .circleci/workflows.yml

fix(bot): Move matchmaking application commands to database models
  discord-bot/src/entity/matchmaking_invitation.rs
  discord-bot/src/entity/mod.rs
  discord-bot/src/interactions/application_commands/matchmaking.rs
  discord-bot/src/interactions/application_commands/utils.rs
  discord-bot/src/main.rs
  discord-bot/src/migration/m20221111_215309_remove_invitation_junction.rs
  docker-compose.development.yml
Due: modified-discord-bot

Format files
  discord-bot/src/entity/matchmaking_lobbies.rs
  discord-bot/src/migration/deprecated/matchmaking_player_invitation.rs
  discord-bot/src/migration/m20221004_222202_create_tables.rs
Due: modified-discord-bot

Add `expires_at` model
  discord-bot/src/entity/matchmaking_lobbies.rs
  discord-bot/src/interactions/application_commands/matchmaking.rs
  discord-bot/src/migration/m20221111_215309_remove_invitation_junction.rs
Due: modified-discord-bot

Ensure the last message wasn't sent by the bot.
  discord-bot/src/interactions/application_commands/matchmaking.rs
  discord-bot/src/interactions/application_commands/utils.rs
Due: modified-discord-bot

Fix errors
  discord-bot/src/interactions/application_commands/matchmaking.rs
Due: modified-discord-bot

Ensure the expiration message is only sent once.
  discord-bot/src/entity/matchmaking_lobbies.rs
  discord-bot/src/interactions/application_commands/matchmaking.rs
  discord-bot/src/migration/m20221111_215309_remove_invitation_junction.rs
Due: modified-discord-bot

Format code
  discord-bot/src/entity/matchmaking_lobbies.rs
Due: modified-discord-bot

fix(ci): Add rust tools to the path
  .circleci/workflows.yml
Due: none

Notes added by 'git notes add'
  fd1f7fbad1684e8cfc5476302d88b0c419b237bd
Due: none

Notes added by 'git notes add'
  9a8d37b43ebf82f1dd6b28fd09fcae300fab511e
Due: none

feat(bot): Refactor background loop
  .circleci/workflows.yml
Due: none

Notes added by 'git notes add'
  3ae1bf6a732de9a74fea4a426d57010a0d010b1a
Due: none

Notes added by 'git notes add'
  6ced5b6416687afa5d72c879758fbad55848cc30
Due: none

Notes added by 'git notes add'
  c52c3edfcd746adf6c9e75087b1ed8c391ea7eec
Due: none

Update .gitignore
  .gitignore
Due: none

Update docker-compose.development.yml
  docker-compose.development.yml
Due: none

Create report-score command and handler.
  discord-bot/src/interactions/application_commands/matchmaking.rs
Due: modified-discord-bot

Revert "Merge branch 'report-score' of https://github.com/DJKero/runback into report-score"
  .circleci/workflows.yml
Due: none

Add timeout_warning_message to migration
  discord-bot/src/migration/m20221111_215309_remove_invitation_junction.rs
Due: modified-discord-bot

fix(bot): Global commands cannot access guild id
  discord-bot/src/interactions/application_commands/admin/mm_settings_handler.rs
  discord-bot/src/interactions/application_commands/mod.rs
  discord-bot/src/interactions/mod.rs
Due: modified-discord-bot

Add import for Id
  discord-bot/src/interactions/application_commands/mod.rs
Due: modified-discord-bot

Update README.md
  README.md
Due: none

Notes added by 'git notes add'
  cd27a7232d82de5f663fc68ba6ddc7b6650bf898
Due: none

fix(bot): Get guild id from proper place
  discord-bot/src/interactions/application_commands/matchmaking.rs
Due: modified-discord-bot

Notes added by 'git notes add'
  55197601c0292b51a3b4eacbd3975f29788268ed
Due: none

Remove unneeded components
  Cargo.lock
  Cargo.toml
  common/Cargo.toml
  common/src/auth.rs
  common/src/config.rs
  common/src/lib.rs
  discord-bot/Cargo.toml
  discord-bot/docker-compose.yml
  discord-bot/scripts/init.sql
  docker-compose.development.yml
  docker-compose.yml
  matchmaking-service/.gitignore
  matchmaking-service/Cargo.toml
  matchmaking-service/Dockerfile
  matchmaking-service/development.Dockerfile
  matchmaking-service/src/config.rs
  matchmaking-service/src/entities/mod.rs
  matchmaking-service/src/events/mod.rs
  matchmaking-service/src/main.rs
Due: modified-common, modified-discord-bot, modified-matchmaking-service

Update matchmaking.rs
  discord-bot/src/interactions/application_commands/matchmaking.rs
Due: modified-discord-bot

Fix report score error.
  discord-bot/src/interactions/application_commands/matchmaking.rs
Due: modified-discord-bot

[ci skip] Update README.md
  README.md
Due: none

Remove ping command handler
  discord-bot/src/interactions/application_commands/mod.rs
  discord-bot/src/interactions/mod.rs
Due: modified-discord-bot

Make commands admin-only and disable DM commands
  discord-bot/src/interactions/application_commands/admin/admin_handler.rs
  discord-bot/src/interactions/application_commands/eula.rs
  discord-bot/src/interactions/application_commands/lfg.rs
  discord-bot/src/interactions/application_commands/matchmaking.rs
Due: modified-discord-bot

Remove the default matchmaking channel upon deletion.
  discord-bot/src/entity/prelude.rs
  discord-bot/src/interactions/mod.rs
  discord-bot/src/main.rs
Due: modified-discord-bot
