Repository tristan-zander/runback: changes, and which CircleCI parameters are due for each by the changed paths.
All: modified-root-manifest, modified-common, modified-discord-bot, modified-matchmaking-service

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            Config.(toml|lock) modified-root-manifest true
            common/.* modified-common true
            discord-bot/.* modified-discord-bot true
            matchmaking-service/.* modified-matchmaking-service true
          config-path: .circleci/workflows.yml

Update workflows.yml
  .circleci/workflows.yml
Due: none

Format files
  discord-bot/src/entity/matchmaking_settings.rs
  discord-bot/src/lib.rs
  discord-bot/src/migration/m20221004_222202_create_tables.rs
Due: modified-discord-bot

Fix clippy warnings
  common/src/auth.rs
Due: modified-common

Fix releases
  .circleci/workflows.yml
  discord-bot/.releaserc.yaml
  discord-bot/scripts/build_docker.sh
Due: modified-discord-bot

Enable clippy
  .circleci/workflows.yml
  common/src/lib.rs
  discord-bot/src/config.rs
  discord-bot/src/entity/game.rs
  discord-bot/src/entity/game_character.rs
  discord-bot/src/entity/matchmaking_invitation.rs
  discord-bot/src/entity/matchmaking_lobbies.rs
  discord-bot/src/entity/matchmaking_player_invitation.rs
  discord-bot/src/entity/matchmaking_player_lobby.rs
  discord-bot/src/entity/matchmaking_settings.rs
  discord-bot/src/entity/mod.rs
  discord-bot/src/entity/prelude.rs
  discord-bot/src/entity/sea_orm_active_enums.rs
  discord-bot/src/entity/state.rs
  discord-bot/src/entity/users.rs
  discord-bot/src/error.rs
  discord-bot/src/interactions/application_commands/admin/admin_handler.rs
  discord-bot/src/interactions/application_commands/admin/mm_settings_handler.rs
  discord-bot/src/interactions/application_commands/eula.rs
  discord-bot/src/interactions/application_commands/matchmaking.rs
  discord-bot/src/interactions/application_commands/mod.rs
  discord-bot/src/interactions/application_commands/utils.rs
  discord-bot/src/interactions/mod.rs
  discord-bot/src/interactions/panels/matchmaking.rs
  discord-bot/src/lib.rs
  discord-bot/src/main.rs
Due: modified-common, modified-discord-bot

Format files
  discord-bot/src/entity/mod.rs
  discord-bot/src/interactions/application_commands/admin/mm_settings_handler.rs
  discord-bot/src/interactions/application_commands/matchmaking.rs
  discord-bot/src/interactions/mod.rs
Due: modified-discord-bot

Fix release build
  .circleci/workflows.yml
Due: none

Re-run all CI when the workflows change
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

Run codecov
  .circleci/workflows.yml
Due: none

Remove git semantic release
  discord-bot/.releaserc.yaml
Due: modified-discord-bot

Update workflows.yml and fix build errors
  .circleci/workflows.yml
  discord-bot/src/main.rs
  discord-bot/src/migration/m20221004_222202_create_tables.rs
  discord-bot/src/migration/main.rs
Due: modified-discord-bot

Version test tools
  .circleci/workflows.yml
Due: none

Format files
  discord-bot/src/main.rs
Due: modified-discord-bot

Separate code coverage
  .circleci/workflows.yml
Due: none

Reorder test workflow
  .circleci/workflows.yml
Due: none

Disable code coverage
  .circleci/workflows.yml
Due: none

Enhance developer configuration
  .gitignore
  discord-bot/Cargo.toml
  discord-bot/development.Dockerfile
  discord-bot/docker-compose.development.yml
  docker-compose.development.yml
Due: modified-discord-bot

Remove unnecessary main file
  src/main.rs
Due: none

Update twilight deps
  Cargo.lock
  discord-bot/Cargo.toml
  discord-bot/src/interactions/application_commands/admin/admin_handler.rs
  discord-bot/src/interactions/application_commands/admin/mm_settings_handler.rs
  discord-bot/src/interactions/application_commands/eula.rs
  discord-bot/src/interactions/application_commands/matchmaking.rs
  discord-bot/src/interactions/application_commands/mod.rs
  discord-bot/src/interactions/application_commands/utils.rs
  discord-bot/src/interactions/mod.rs
  discord-bot/src/interactions/panels/matchmaking.rs
Due: modified-discord-bot

Update background loop and models
  discord-bot/Cargo.toml
  discord-bot/src/entity/matchmaking_invitation.rs
  discord-bot/src/entity/matchmaking_lobbies.rs
  discord-bot/src/entity/matchmaking_player_invitation.rs
  discord-bot/src/entity/mod.rs
  discord-bot/src/entity/prelude.rs
  discord-bot/src/entity/users.rs
  discord-bot/src/interactions/application_commands/matchmaking.rs
  discord-bot/src/migration/deprecated/matchmaking_player_invitation.rs
  discord-bot/src/migration/deprecated/mod.rs
  discord-bot/src/migration/m20221004_222202_create_tables.rs
  discord-bot/src/migration/m20221111_215309_remove_invitation_junction.rs
  discord-bot/src/migration/mod.rs
Due: modified-discord-bot
