Repository tristan-zander/runback: changes, and which CircleCI parameters are due for each by the changed paths.
All: modified-root-manifest, modified-common, modified-discord-bot, modified-matchmaking-service

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            Config.(toml|lock) modified-root-manifest true
            common/.* modified-common true
            discord-bot/.* modified-discord-bot true
            matchmaking-service/.* modified-matchmaking-service true
          config-path: .circleci/workflows.yml

Handle role delete event.
  discord-bot/src/main.rs
Due: modified-discord-bot

#16 review changes.
  discord-bot/src/interactions/application_commands/matchmaking.rs
Due: modified-discord-bot

Fine tuned report-score embed.
  discord-bot/src/interactions/application_commands/matchmaking.rs
Due: modified-discord-bot

Cargo fmt needed for CI
  discord-bot/src/interactions/application_commands/matchmaking.rs
Due: modified-discord-bot

[skip ci] Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Filter unnecessary debugs
  discord-bot/src/main.rs
Due: modified-discord-bot

Create dependabot.yml
  .github/dependabot.yml
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

[ci skip] Update README.md
  README.md
Due: none

Update Cargo.lock
  Cargo.lock
Due: none

Update deps
  Cargo.lock
  discord-bot/Cargo.toml
  discord-bot/src/entity/mod.rs
  discord-bot/src/interactions/application_commands/admin/admin_handler.rs
  discord-bot/src/interactions/application_commands/matchmaking.rs
  discord-bot/src/interactions/panels/lobby.rs
  discord-bot/src/migration/m20221004_222202_create_tables.rs
Due: modified-discord-bot

Update config.yml
  .circleci/config.yml
Due: none

Update workflows.yml
  .circleci/workflows.yml
Due: none

Start basic structure for lobby commands
  discord-bot/src/interactions/application_commands/matchmaking/lobby.rs
  discord-bot/src/interactions/application_commands/matchmaking/mod.rs
  discord-bot/src/interactions/application_commands/mod.rs
  discord-bot/src/interactions/mod.rs
  discord-bot/src/main.rs
Due: modified-discord-bot

Make skeleton CQRS framework
  Cargo.lock
  common/Cargo.toml
  common/src/events/mod.rs
  common/src/lib.rs
  common/src/services/mod.rs
Due: modified-common

More work on event sourcing lobbies
  Cargo.lock
  common/Cargo.toml
  common/src/events/mod.rs
  common/src/lib.rs
  common/src/services/mod.rs
Due: modified-common

Basic working event store
  Cargo.lock
  common/Cargo.toml
  common/src/lib.rs
  common/src/services/mod.rs
  discord-bot/Cargo.toml
  discord-bot/development.Dockerfile
  discord-bot/src/events/mod.rs
  discord-bot/src/interactions/application_commands/matchmaking/lobby.rs
  discord-bot/src/interactions/application_commands/matchmaking/mod.rs
  discord-bot/src/interactions/mod.rs
  discord-bot/src/lib.rs
  discord-bot/src/main.rs
  discord-bot/src/queries/mod.rs
  discord-bot/src/services/mod.rs
  docker-compose.development.yml
Due: modified-common, modified-discord-bot

Implement `lobby open` command
  discord-bot/src/events/mod.rs
  discord-bot/src/interactions/application_commands/matchmaking/lobby.rs
  discord-bot/src/interactions/application_commands/mod.rs
  discord-bot/src/interactions/application_commands/utils.rs
  discord-bot/src/interactions/mod.rs
  discord-bot/src/lib.rs
  discord-bot/src/services/mod.rs
Due: modified-discord-bot

Fix and format
  common/src/config.rs
  discord-bot/src/events/mod.rs
  discord-bot/src/interactions/application_commands/admin/mm_settings_handler.rs
  discord-bot/src/interactions/application_commands/matchmaking/lobby.rs
  discord-bot/src/interactions/application_commands/matchmaking/mod.rs
  discord-bot/src/interactions/application_commands/utils.rs
  discord-bot/src/lib.rs
  discord-bot/src/main.rs
  discord-bot/src/migration/m20221004_222202_create_tables.rs
  discord-bot/src/queries/mod.rs
  discord-bot/src/services/mod.rs
Due: modified-common, modified-discord-bot

Start lobby view mechanisms
  Cargo.lock
  discord-bot/Cargo.toml
  discord-bot/src/db.rs
  discord-bot/src/events/mod.rs
  discord-bot/src/interactions/application_commands/matchmaking/lobby.rs
  discord-bot/src/lib.rs
  discord-bot/src/queries/mod.rs
Due: modified-discord-bot

Add SeaORM connection to DB
  discord-bot/src/db.rs
  discord-bot/src/queries/mod.rs
Due: modified-discord-bot

Refactor
  Cargo.lock
  discord-bot/Cargo.toml
  discord-bot/src/client.rs
  discord-bot/src/db.rs
  discord-bot/src/interactions/application_commands/admin/admin_handler.rs
  discord-bot/src/interactions/application_commands/admin/mm_settings_handler.rs
  discord-bot/src/interactions/application_commands/eula.rs
  discord-bot/src/interactions/application_commands/matchmaking/lobby.rs
  discord-bot/src/interactions/application_commands/matchmaking/mod.rs
  discord-bot/src/interactions/application_commands/mod.rs
  discord-bot/src/interactions/application_commands/utils.rs
  discord-bot/src/interactions/mod.rs
  discord-bot/src/interactions/panels/lobby.rs
  discord-bot/src/lib.rs
  discord-bot/src/main.rs
  discord-bot/src/migration/main.rs
  discord-bot/src/services/mod.rs
Due: modified-discord-bot

Refactor interaction processor
  discord-bot/src/client.rs
  discord-bot/src/interactions/application_commands/admin/mm_settings_handler.rs
  discord-bot/src/interactions/application_commands/eula.rs
  discord-bot/src/interactions/application_commands/matchmaking/mod.rs
  discord-bot/src/interactions/application_commands/mod.rs
  discord-bot/src/interactions/mod.rs
Due: modified-discord-bot

Run cargo fix
  discord-bot/src/client.rs
  discord-bot/src/interactions/application_commands/admin/admin_handler.rs
  discord-bot/src/interactions/application_commands/admin/mm_settings_handler.rs
  discord-bot/src/interactions/application_commands/eula.rs
  discord-bot/src/interactions/application_commands/matchmaking/lobby.rs
  discord-bot/src/interactions/application_commands/matchmaking/mod.rs
  discord-bot/src/interactions/mod.rs
Due: modified-discord-bot

Remove eventing
  Cargo.lock
  common/Cargo.toml
  common/src/eventing.rs
  common/src/lib.rs
Due: modified-common

Move interaction error message to DiscordClient
  discord-bot/src/client.rs
  discord-bot/src/interactions/application_commands/matchmaking/lobby.rs
  discord-bot/src/interactions/application_commands/matchmaking/mod.rs
  discord-bot/src/interactions/mod.rs
Due: modified-discord-bot

Start SeaOrm event view database
  discord-bot/src/queries/lobby.rs
  discord-bot/src/queries/mod.rs
Due: modified-discord-bot

Compile materialized view connector
  discord-bot/src/queries/mod.rs
Due: modified-discord-bot

Almost working SeaOrm materialized views
  discord-bot/src/client.rs
  discord-bot/src/db.rs
  discord-bot/src/entity/mod.rs
  discord-bot/src/events/mod.rs
  discord-bot/src/interactions/application_commands/admin/mm_settings_handler.rs
  discord-bot/src/interactions/application_commands/eula.rs
  discord-bot/src/interactions/application_commands/matchmaking/lobby.rs
  discord-bot/src/interactions/application_commands/matchmaking/mod.rs
  discord-bot/src/interactions/mod.rs
  discord-bot/src/migration/m20230709_220559_add_eventing.rs
  discord-bot/src/migration/mod.rs
  discord-bot/src/migration/res/event-init.sql
  discord-bot/src/migration/res/snapshot-init.sql
  discord-bot/src/queries/lobby.rs
  discord-bot/src/queries/mod.rs
  discord-bot/src/services/mod.rs
Due: modified-discord-bot

Add debugging scripts
  .vscode/launch.json
  .vscode/settings.json
  discord-bot/src/interactions/application_commands/matchmaking/lobby.rs
  discord-bot/src/queries/lobby.rs
  discord-bot/src/queries/mod.rs
Due: modified-discord-bot

Remove kafka code in docker-compose
  docker-compose.development.yml
Due: none

Update dependency versions
  Cargo.lock
  discord-bot/Cargo.toml
  discord-bot/Dockerfile
  discord-bot/development.Dockerfile
  discord-bot/src/main.rs
Due: modified-discord-bot

Add NX to orchestrate actions
  .gitignore
  nx.json
  package-lock.json
  package.json
Due: none

Init UI module
  .eslintignore
  .eslintrc.cjs
  .npmrc
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
  services/ui/.eslintrc.cjs
  services/ui/.gitignore
  services/ui/README.md
  services/ui/package.json
  services/ui/playwright.config.ts
  services/ui/project.json
  services/ui/src/app.d.ts
  services/ui/src/app.html
  services/ui/src/index.test.ts
  services/ui/src/lib/index.ts
  services/ui/src/routes/+page.svelte
  services/ui/static/favicon.jpeg
  services/ui/svelte.config.js
  services/ui/tests/test.ts
  services/ui/tsconfig.json
  services/ui/vite.config.ts
Due: none
